header{
    width: 1320px;
    margin: 50px 140px 120px;
}
.banner{
    text-align: center;
    /* width: 1320px; */
    height: 700px;
    background-image: url('../images/Banner\ Image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    border: 0;
}
.banner-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 16px;
}
.banner-title-main{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding: 0 344px 400px;
}
main{
    margin: 0 140px 120px;
    width: 1320px;
}
/* offer-section related styles */
.offer{
    margin-bottom: 120px;
}
.offer-section{
    text-align: center;
}
.offer-percentage{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding: 0 468px 48px;
    width: 383px;
    height: 107px;
}
.offer-des{
    width: 400px;
    height: 30px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding: 0 462px 15px;
}
.offer-cat{
    width: 410px;
    height: 58px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 0 450px 45px;
}
.img{
    padding: 0 260px 0;
}
.welcome-section{
    margin-bottom: 120px;
}
.welcome{
    display: flex;
    gap: 40px;
    /* width: 1320px; */
    height: 600px;
    background-image: url('../images/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.welcome-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    /* line-height: 88px; */
    /* letter-spacing: 7px; */
    padding: 100px 95px 20px 125px;
}
.welcome-des{
    padding: 0 40px 48px 125px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    margin-left: 160px;
    margin-right: 550px;
    padding-bottom: 145px;
    /* margin: 0 500px 500px 160px; */
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.image{
    padding: 68px 135px 67px 0;
}

/* address section created successfully */
.offer-time{
    /* width: 1320px; */
    height: 480px;
    margin-bottom: 120px;
    text-align: center;
    background-color:antiquewhite;
    /* background-size: contain; */
}
.offer-time-detail{
    width: 600px;
    height: 170px;
    text-align: center;
    padding: 100px 385px 48px;
    font-size: 32px;
    font-weight: 600;
}
.offer-time-detail > p > span {
    color: #F00;
}
.btn-secondary{
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0 575px 100px;
    padding: 16px 32px;
}
/* What-is-functional sections related styles */
.What-is-functional{
    /* width: 1320px; */
    margin-bottom: 120px;
}
.functional{
    text-align: center;
}
.functional-title{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    padding: 0 530px 16px 525px;
    width: 270px;
    height: 30px;
}
.functional-title-main{
    width: 680px;
    height: 100px;
    font-size: 72px;
    font-weight: 900;
    padding: 0 320px 20px 320px;
}
.functional-title-main > span{
    color: #F00;
}
.functional-title-des{
    width: 1000px;
    height: 90px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    padding: 0 160px 60px;
}
.picture{
    display: flex;
    gap: 60px;
    padding-top: 85px;
    padding-left: 60px;
    padding-right: 320px;
    justify-content: space-around;
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png');

    background-repeat: no-repeat;
    background-size: contain contain;
    background-position: bottom left, top right;
}
.portfolio-section{
    margin-bottom: 120px;
}
.portfolio-title{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.portfolio-title-2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}
.portfolio-des{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
}
.images{
    display: flex;
    /* justify-content: space-around; */
    gap: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    width: 424px;
    height: 450px;
}
.images > img:hover{
    /* background-color: blue; */
    border: 3px blue solid;
}
.subscribe{
    text-align: center;
    /* width: 1320px; */
    height: 620px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe > img{
    width: 150px;
    height: 150px;
    padding: 80px 585px 40px;
}
.subs-title{
    width: 520px;
    height: 60px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 0 400px 22px;
}
.subs-des{
    width: 720px;
    height: 60px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding: 0 300px 48px;
}
.input{
    align-items: center;
    display: flex;
    padding: 48px 400px 80px;
}
.email{
    /* text-align: start; */
    width: 300px;
    height: 48px;
    /* border-radius: 50px; */
    background: #FFF;
    border-radius: 50px 0 0 50px;
}
.btn-third{
    width: 200px;
    height: 54px;
    /* border-radius: 0px 50px 50px 0px; */
    background: #F00;
    border-radius: 0 50px 50px 0;
}
.email:hover, .btn-third:hover{
    /* border-radius: 10px; */
    border: 3px blue solid;
}

/* footer related styles */
footer{
    /* align-items: center; */
    width: 1600px;
    height: 610px;
    background-color: #070211;
}
.address{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* gap: 50%; */
    /* padding: 0 550px 50px 0; */
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.location{
    /* text-align: left; */
    padding-top: 120px ;
    padding-bottom: 48px;
    padding-left: 100px;

}
.contact{
    /* text-decoration: none; */
    /* text-align: right; */
    padding-top: 120px ;
    padding-bottom: 48px;
    padding-right: 100px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.link{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.social-links{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    gap: 12px;
    padding: 48px 640px;
}
/* footer related styles */
.footer{
    display: flex;
    align-items: center;
    /* gap: 50%; */
    justify-content: space-around;
}
.copy{
    /* text-align: left; */
    /* text-align:right; */
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.unsubscribe{
    /* margin: 50px; */
    text-align: bottom;
    /* background-color: #070211; */
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

